.job-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.job {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0;
}

body{

    padding: 20px;
}

.posting-box {
    /*background-color: #000000;*/
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    display: grid;
    border: 1px solid #ccc;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding-top: 40px;

}